.container {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  margin-top: 4rem !important; /* 64px */
}

.header {
  margin-bottom: 1rem !important; /* 16px */
  font-size: 3.5rem !important; /* Equivalent to h5 in Material-UI */
}

.body-text {
  text-align: center !important;
  margin: 1rem 0 !important; /* 16px 0 */
  font-size: 1.7rem !important; /* Equivalent to body2 in Material-UI */
}

.form {
  width: 100% !important;
  margin-top: 0.5rem !important; /* 8px */
}

.submit-button {
  margin-top: 3.5rem !important; /* 24px */
  margin-bottom: 1rem !important; /* 16px */
  background-color: #9c27b0 !important;
  height: 4rem !important;
}

.center-text {
  text-align: center !important;
  margin-top: 1rem !important; /* 16px */
  font-size: 1rem !important; /* Equivalent to body2 in Material-UI */
}

/* styles.css */
.login-link {
  font-size: 2em !important; /* Adjust font size as needed */
  background-color: #f0f0f0 !important; /* Set the background color */
  padding: 0.8em !important; /* Add padding for better appearance */
  text-decoration: none !important; /* Remove underline */
  color: #333 !important; /* Text color */
  border-radius: 0.25em !important; /* Optional: add border-radius for rounded corners */
}

.login-link:hover {
  background-color: #e0e0e0 !important; /* Change background on hover */
}

/* step 2 css */
/* General Card Styling */
.card-content {
  text-align: center;
}

.submit-button {
  margin-top: 1.25rem; /* 20px -> 1.25rem */
  border-radius: 1.25rem; /* 20px -> 1.25rem */
}

/* OTP Input Fields */
.otp-input {
  width: 3.125rem; /* 50px -> 3.125rem */
  height: 3.125rem; /* 50px -> 3.125rem */
  text-align: center;
  font-size: 1.5rem; /* 24px -> 1.5rem */
  margin: 0 0.3125rem; /* 5px -> 0.3125rem */
}

.otp-input input {
  text-align: center;
}

/* Resend OTP Text */
.resend-otp {
  margin-top: 1.25rem; /* 20px -> 1.25rem */
  font-size: 0.875rem; /* 14px -> 0.875rem */
  color: gray;
}

/* Title and Subtitle */
.email-verification-title {
  font-size: 1.5rem; /* 24px -> 1.5rem */
  font-weight: bold;
  margin-bottom: 0.625rem; /* 10px -> 0.625rem */
}

.email-verification-subtitle {
  font-size: 1rem; /* 16px -> 1rem */
  color: gray;
  margin-bottom: 1.25rem; /* 20px -> 1.25rem */
}
