.container {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    margin-top: 4rem !important; /* 64px */
  }
  
  .header {
    margin-bottom: 1rem !important; /* 16px */
    font-size: 3.5rem !important; /* Equivalent to h5 in Material-UI */
  }
  
  .body-text {
    text-align: center !important;
    margin: 1rem 0 !important; /* 16px 0 */
    font-size: 1.7rem !important; /* Equivalent to body2 in Material-UI */
  }
  
  .form {
    width: 100% !important;
    margin-top: 0.5rem !important; /* 8px */
  }
  
  .submit-button {
    margin-top: 1.5rem !important; /* 24px */
    margin-bottom: 1rem !important; /* 16px */
    background-color: #9c27b0 !important;
    height: 4rem !important;
  }
  
  .center-text {
    text-align: center !important;
    margin-top: 1rem !important; /* 16px */
    font-size: 1rem !important; /* Equivalent to body2 in Material-UI */
  }
  
  /* styles.css */
.login-link {
    font-size: 2em !important; /* Adjust font size as needed */
    background-color : #f0f0f0 !important; /* Set the background color */
    padding: 0.8em !important; /* Add padding for better appearance */
    text-decoration: none !important; /* Remove underline */
    color: #333 !important; /* Text color */
    border-radius: 0.25em !important; /* Optional: add border-radius for rounded corners */
  }
  
  .login-link:hover {
    background-color: #e0e0e0 !important; /* Change background on hover */
  }
  